.cabal-sandbox
.hpc
.vscode/*
!.vscode/settings.json
node_modules
amd_modules
cabal.sandbox.config
*.tix
dist/*
!dist/build/
dist/build/*

!dist/build/doppler-sample-skeleton/
dist/build/doppler-sample-skeleton/*
!dist/build/doppler-sample-skeleton/doppler-sample-skeleton.jsexe/
dist/build/doppler-sample-skeleton/doppler-sample-skeleton.jsexe/*
!dist/build/doppler-sample-skeleton/doppler-sample-skeleton.jsexe/ext.js
!dist/build/doppler-sample-skeleton/doppler-sample-skeleton.jsexe/index.html

!dist/build/doppler-sample-todo/
dist/build/doppler-sample-todo/*
!dist/build/doppler-sample-todo/doppler-sample-todo.jsexe/
dist/build/doppler-sample-todo/doppler-sample-todo.jsexe/*
!dist/build/doppler-sample-todo/doppler-sample-todo.jsexe/ext.js
!dist/build/doppler-sample-todo/doppler-sample-todo.jsexe/index.html
